@import "../../styles/main.scss";

.admin-stats {
  &__header {
    &__main {
      font-weight: 300;
      margin-top: $sm;
      text-align: center;
    }

    &__sub {
      background-color: $theme-1;
      color: $grey-light;
      font-weight: 300;
      margin: $sm auto;
      padding: $xs 0;
      text-align: center;
    }
  }

  &__dates {
    margin: $sm 0;
    text-align: center;
  }

  &__no-content {
    font-size: 1.6rem;
    font-style: italic;
  }

  &__data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 $sm;
    padding: $sm;

    &--main {
      display: flex;
      flex-direction: column;

      &__header {
        background: #ddd;
        border: 1px solid $theme-1;
        font-weight: 300;
        margin-bottom: $lg;
        padding: $xxs $xs;
      }
    }

    &--sub {
      &__header {
        background: #ddd;
        border: 1px solid $theme-1;
        font-weight: 300;
        margin: $sm 0;
        padding: $xxs $xs;
      }

      &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-container {
        display: flex;
      }
    }
  }

  &__username {
    background: $theme-2;
    border: 1px solid $theme-1;
    color: $grey-light;
    display: inline-block;
    margin: $sm 0;
    padding: $xs;
  }

  hr {
    border: 1px solid rgba($theme-1, 0.25);
    margin: $sm auto;
  }
}

@media (max-width: 75em) {
  .admin-stats {
    &__data {
      flex-direction: column;

      &--sub-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (max-width: 50em) {
  .admin-stats {
    &__dates {
      margin: $sm $md;
    }
    &__data {
      &--sub-container {
        flex-direction: column;
        margin-top: $sm;
      }
    }
  }
}

@media (max-width: 25em) {
  .admin-stats {
    &__data {
      margin: 0 auto;
      padding: 0;
      width: 80%;
    }
  }
}
