@import "../../styles/main.scss";

.expense-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: $sm;

  &__text {
    border: none;
    border-radius: 3px;
    font: inherit;
    padding: 0 $xs;
  }

  &__sortBy {
    border-radius: 3px;
    font: inherit;
    padding: 0 $xs;
  }
}

@media (max-width: 42rem) {
  .expense-filters {
    flex-direction: column;
    align-items: flex-start;
    height: 20vmax;
    justify-content: space-around;

    &__text {
      padding: $xs;
    }

    &__sortBy {
      padding: $xs;
    }
  }
}
