body {
  background-color: rgba($theme-1, 0.3);
  color: $theme-1;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  padding: 0 $sm;
  max-width: 60rem;
  width: 75%;
}
