@import "../../styles/main.scss";

.record-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__error-container {
    height: $xl;
  }

  &__errorMsg {
    color: $theme-5;
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
  }

  &__field {
    border: none;
    border-radius: 3px;
    color: $theme-1;
    font: inherit;
    height: 2.5em;
    margin-bottom: $sm;
    padding: $sm;
    transition: all 0.3s;

    &:focus {
      background-color: rgba($theme-3, 0.2);
      outline-color: rgba($theme-5, 0.8);
    }

    &--textarea {
      height: 6em;
      margin-top: $sm;
    }
  }

  &__button {
    align-self: center;
    background-color: $theme-2;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba($theme-1, 0.6);
    color: $grey-light;
    font: inherit;
    font-size: 1.6rem;
    margin-top: $sm;
    padding: 0.2em $sm;
    width: 20%;
    transition: all 0.3s;

    &:hover {
      background-color: darken($theme-2, 10%);
    }
  }
}
