@import "../../styles/main.scss";

.menu {
  &__header h3 {
    font-size: 1.8rem;
    font-weight: 300;
    margin: $xs 0;
    text-align: center;

    span {
      color: red;
    }
  }

  &__paragraph {
    margin-bottom: $xxs;
    text-align: center;

    &--admin {
      margin-bottom: $sm;
    }
  }

  &__error-container {
    height: 1.8em;
    margin-bottom: $xs;
  }

  &__error-msg {
    font-style: italic;
    text-align: center;
    animation: fadeInMsg 5s ease backwards;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link,
  &__link:link,
  &__link:active,
  &__link:visited {
    background-color: $theme-2;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
    color: $grey-light;
    display: inline-block;
    margin-bottom: $sm;
    padding: $xs $md;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    width: 70%;

    &:hover {
      background-color: darken($theme-2, 10%);
    }
  }

  &__button {
    align-self: center;
    background-color: $theme-1;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
    color: $grey-light;
    display: inline-block;
    font: inherit;
    margin-top: $xs;
    padding: $sm $md;
    transition: all 0.3s;

    &:hover {
      background-color: red;
    }
  }
}

@media (min-width: 37.5em) {
  .menu {
    &__link {
      padding: $xs;
    }

    &__button {
      padding: $xs;
    }
  }
}

@media (max-width: 25em) {
  .menu__error-container {
    height: 2.8em;
  }
}




