// Colors

$grey-dark: #333;
$grey-light: #e4e4e4;

$theme-1: #394a6d;
$theme-2: #3c9d9b;
$theme-3: #52de97;
$theme-4: #c0ffb3;
$theme-5: #3c3d9d;

// Spacing
$xs: 0.5em;
$sm: 1em;
$md: 1.5em;
$lg: 2em;
$xl: 2.5em;

// Alternative color scheme:
// $theme-1: #1d3e53;
// $theme-2: #254b62;
// $theme-3: #476d7c;
// $theme-4: #77abb7;

// Alternative color scheme:
// $theme-1: #222831;
// $theme-2: #393e46;
// $theme-3: #00adb5;
// $theme-4: #e4e4e4;

// Alternative color scheme:
// $theme-1: #553c8b;
// $theme-2: #9ea9f0;
// $theme-3: #ccc1ff;
// $theme-4: #ffeafe;
