@import "../../styles/main.scss";

.landing {
  background-image: linear-gradient(
      to bottom,
      rgba($theme-2, 0.2),
      rgba($theme-2, 0.6)
    ),
    url("/images/main.jpg");
  background-position: center right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &__box {
    background-color: rgba($theme-5, 0.5);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $sm;
    width: 60%;
  }

  &__title {
    color: $grey-light;
    font-weight: 300;
    margin-bottom: $xs;
    text-align: center;
  }

  &__definition {
    color: $grey-light;
    font-style: italic;
    font-weight: 300;
    margin-bottom: $xs;
    padding: $xs;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;

    &__button {
      background-color: $theme-2;
      border: none;
      border-radius: 3px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
      color: $grey-light;
      cursor: pointer;
      font-family: inherit;
      font-size: 1.2rem;
      margin: $sm;
      outline: none;
      padding: 0.4em $sm;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        background-color: darken($theme-2, 10%);
        color: $grey-light;
      }
    }
  }

  .admin-login-info {
    background-color: $theme-1;
    border-radius: 3px;
    color: $grey-light;
    margin-top: $md;
    padding: $xs $sm;
    text-align: center;
  }
}

@media (max-width: 50em) {
  .landing {
    &__box {
      padding: 0.2em;
    }

    &__actions {
      justify-content: space-between;
      &__button {
        font-size: inherit;
        padding: 0.2em $xs;

        &--admin {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 37.5em) {
  .landing {
    &__box {
      width: 80%;
    }
  }
}
