@import "../../styles/main.scss";

.adminList {
  &__header {
    font-weight: 300;
    margin-top: $sm;
    margin-bottom: $xs;
    text-align: center;
  }

  &__message-container {
    height: 3em;
    margin-bottom: $xs;
  }

  &__message {
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
  }
}
