@import "../../styles/main.scss";

.adminList {
  &__header {
    font-weight: 300;
    margin-top: $sm;
    margin-bottom: $xs;
    text-align: center;
  }

  &__message-container {
    height: 2em;
    margin-bottom: $xs;
  }

  &__message {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    animation: fadeInMsg 5s ease backwards;
  }
}

@media (max-width: 28em) {
  .adminList {
    &__message-container {
      height: 3em;
    }
  }
}
